@font-face /*perintah untuk memanggil font eksternal*/
{
  font-family: 'Bahnschrift'; /*memberikan nama bebas untuk font*/
  src: url('/assets/font/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF');

  font-family: 'Brillotus'; /*memberikan nama bebas untuk font*/
  src: url('/assets/font/Brillotus/Brillotus.otf');
}

html{
    scroll-behavior: smooth;
}

/* index */

#navbar{
    transition: 0.5s;
}

.header-section{
    background-image: url('/assets/img/DSC_0772.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 400px;
}

.card-section{
    width: 100%;
    height: fit-content; 
    z-index: 1; 
    top: -33px;
    border-radius: 100px;
    font-family: 'Bahnschrift';
    margin-bottom: 20px;
}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
  
  .blink{
      text-decoration: blink;
      -webkit-animation-name: blinker;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-timing-function:ease-in-out;
      -webkit-animation-direction: alternate;
  }

.text-greeting{
    position: absolute;
    z-index: 1; 
    top: 350px;
    font-family: 'Brillotus';
    margin-bottom: 20px;
    color: #9900cc;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.footer-section{
    width: 100%;
    height: fit-content; 
    z-index: 1; 
    top: -25px;
    border-radius: 100px;
}

/* Login */
.body-bg-login{
    background-image: url('/assets/img/BG-BATIK.jpg');
    background-size: 80px;
    background-repeat: repeat;
}

.login-section{
    margin-top: 13%;
}

.img-login{
    position: absolute;
    z-index: 1; 
    top: 75px;
    left: 130px;
    width: 80px;
}