@font-face /*perintah untuk memanggil font eksternal*/
{
  font-family: 'Bahnschrift'; /*memberikan nama bebas untuk font*/
  src: url('/assets/font/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF');

  font-family: 'Brillotus'; /*memberikan nama bebas untuk font*/
  src: url('/assets/font/Brillotus/Brillotus.otf');
}

#navbar{
    transition: 0.5s;
}

.header-section{
    background-image: url('/assets/img/DSC_0772.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 400px;
}

.card-section{
    width: 100%;
    height: fit-content; 
    z-index: 1; 
    top: -33px;
    border-radius: 100px;
    font-family: 'Bahnschrift';
    margin-bottom: 20px;
}

.text-greeting{
    position: absolute;
    z-index: 1; 
    top: 350px;
    font-family: 'Brillotus';
    margin-bottom: 20px;
    color: #9900cc;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.footer-section{
    width: 100%;
    height: fit-content; 
    z-index: 1; 
    top: -25px;
    border-radius: 100px;
}